@model IEnumerable<CW7924.DAL.Client>
@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="FlowerShopSPA">
    <div ng-view>

    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">
    angular.module('FlowerShopSPA', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/index.html',
                        controller: 'IndexController'
                    })
                .when('/clients',
                    {
                        templateUrl: 'pages/clients.html',
                        controller: 'ClientController'
                    })
                .when('/plants',
                    {
                        templateUrl: 'pages/plants.html',
                        controller: 'PlantController'
                    })
                .when('/addClient',
                    {
                        templateUrl: 'pages/addEditClient.html',
                        controller: 'AddClientController'
                    })
                .when('/editClient/:clientId',
                    {
                        templateUrl: 'pages/addEditClient.html',
                        controller: 'EditClientController'
                    })
                .when('/addPlant',
                    {
                        templateUrl: 'pages/addEditPlant.html',
                        controller: 'AddPlantController'
                    })
                .when('/editPlant/:plantId',
                    {
                        templateUrl: 'pages/addEditPlant.html',
                        controller: 'EditPlantController'
                    })
                .otherwise({
                    redirectTo: '/'
                });

        }).controller('IndexController', ['$scope', '$http', function ($scope, $http) {

            $scope.message = "Florange Flower Shop checking SPA";
        }])

        .controller('ClientController', ['$scope', '$http', function ($scope, $http) {

            $scope.clients = [];
            $http.get('@Url.Action("GetClients", "Client")')
                .then(function (response) {
                    $scope.clients = response.data;
                });
             $scope.Delete = function (client) {
                 $http.delete('@Url.Action("GetClients", "Client")/' + client.id).then(function (response) {
                     var index = $scope.clients.indexOf(client);
                     $scope.clients.splice(index, 1);
                 });
             }

        }])
        .controller('AddClientController', ['$scope', '$http', '$location', function ($scope, $http, $location) {

            $scope.client = {
                id: 0,
                firstName: '',
                lastName: '',


            };
             $scope.plants = [];
             $http.get('@Url.Action("GetPlants", "Plant")')
                 .then(function (response) {
                     $scope.plants = response.data;
                 });


            $scope.SaveClient = function()
            {
                console.log($scope.client);
                $http.post('@Url.Action("PostClient", "Client")', $scope.client)
            .then(function (response) {
                        $location.path('/clients');
                    })
            }

        }])
            .controller('EditClientController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {

            $scope.client = {
                id: 0,
                name: ''
            };

            $scope.SaveClient() = function()
            {
                $http.post('@Url.Action("PostClient", "Client")', $scope.client)
                    .then(function (response) {
                        $location.path('/clients');
                    })
            }

            }])

         .controller('PlantController', ['$scope', '$http', function ($scope, $http) {

             $scope.plants = [];
             $scope.error = "";
             $http.get('@Url.Action("GetPlants", "Plant")')
                 .then(function (response) {
                     $scope.plants = response.data;
                 });

             $scope.Delete = function (plant) {
                 $http.delete('@Url.Action("GetPlants", "Plant")/' + plant.id)
                        .then(function (response) {
                             var index = $scope.plants.indexOf(plant);

                             $scope.plants.splice(index, 1);
                        }).catch(r => {
                            $scope.error = "Client is connected to this plant!";
                        console.log(r);
                        });
             }

         }])
        .controller('AddPlantController', ['$scope', '$http', '$location', function ($scope, $http, $location) {

            $scope.plants = [];
            $scope.plant = {
                id: 0,
                name: '',
                type: ''
            };
             $http.get('@Url.Action("GetPlants", "Plant")')
                .then(function (response) {
                    $scope.plants = response.data;
                })
        /* $scope.options = type.reduce(function (memo, obj) {
                return angular.extend(memo, obj);
            }, {}); */
            $scope.SavePlant = function()
            {
                $http.post('@Url.Action("PostPlant", "Plant")', $scope.plant)
                    .then(function (response) {
                        $location.path('/plants');
                    })
            }

        }])
        .controller('EditPlantController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {

            $scope.plant = {
                id: 0,
                name: '',
                type: ''
            };
               $http.get('@Url.Action("GetPlants", "Plant")/' + $routeParams.plantId)
                .then(function (response) {
                    $scope.plant = response.data;
                })

             $http.get('@Url.Action("GetPlants", "Plant")')
                .then(function (response) {
                    $scope.plants = response.data;
                })

            $scope.SavePlant = function()
            {
                $http.put('api/Plant/' + $routeParams.plantId, $scope.plant)
                    .then(function (response) {
                        $location.path('/plants');
                    })
            }

        }]);

</script>



